    <div
  class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark sticky"
  style="width: 280px"
>
  <a
    
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"
  >
    <span class="fs-4">Admin Panel</span>

  </a>
  <hr />
  <ul class="nav nav-pills flex-column mb-auto">
    <li>
      <a  class="nav-link active"><i class="bi bi-house me-3"></i>Home </a>
    </li>
    <li>
      <a  class="nav-link text-white"> <i class="bi bi-speedometer2 me-3"></i>Dashboard </a>
    </li>
    <li>
      <a  class="nav-link text-white"><i class="bi bi-people me-3"></i>Users </a>
    </li>
    <li>
      <a  class="nav-link text-white"><i class="bi bi-person-gear me-3"></i>Admin</a>
    </li>
    <li>
      <a  class="nav-link text-white"><i class="bi bi-sign-turn-left me-3"></i>Deposits </a>
    </li>

    <li>
      <a class="nav-link text-white"><i class="bi bi-sign-turn-right me-3"></i>Withdrawals </a>
    </li>
    <li>
      <a class="nav-link text-white"><i class="bi bi-calendar-event me-3"></i>Events and Offers </a>
    </li>
    <li>
      <a class="nav-link text-white"><i class="bi bi-card-checklist me-3"></i>Reports</a>
    </li>
    <li>
        <a class="nav-link text-white"><i class="bi bi-credit-card-2-front me-3"></i>Payment Addresses</a>
      </li>
      <li>
        <a class="nav-link text-white"><i class="bi bi-bell me-3"></i>Notifications</a>
      </li>
      <li>
        <a class="nav-link text-white"><i class="bi bi-flower2 me-3"></i>Blogs</a>
      </li>
  </ul>
  <hr />
<ul class="nav nav-pills flex-column mb-auto">
    <li>
        <a class="nav-link text-white"><i class="bi bi-key me-3"></i>Change Password</a>
      </li> <li>
        <a class="nav-link text-white"><i class="bi bi-patch-plus me-3"></i>Update Profile</a>
      </li>
</ul>
<hr>
<button class="btn btn-danger">Log Out</button>
</div>
