<section class="vh-100" style="background-color: black">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
             @if(!emailSent){
                <img
                src="assets/images/forgot-password.jpg"
                alt="login form"
                class="img-fluid"
                style="border-radius: 1rem 0 0 1rem"
              />
             }
             @else {
                <img
                src="assets/images/mail.PNG"
                alt="login form"
                class="img-fluid"
                style="border-radius: 1rem 0 0 1rem"
              />
             }
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
                          
                  <div class="d-flex align-items-center mb-3 pb-1">
                    <span class="h1 fw-bold mb-0">Logo</span>
                  </div>
                  @if(!emailSent){
                    <h5 class="fw-normal mb-2 pb-2" style="letter-spacing: 1px">
                        Forgot Password
                      </h5>
                      <p class="fs-6">
                        Provide your email, we will send you the link to reset your
                        password.
                      </p>
                      <div class="form-outline">
                        <input
                          type="email"
                          id="form2Example17"
                          class="form-control"
                          placeholder="e.g youremail@gmail.com"
                        />
                      </div>
    
                      <div class="pt-1 mb-4 mt-3">
                        <button
                          class="btn btn-primary btn-block form-control"
                          (click)="sendEmail()"
                        >
                          Send Email
                        </button>
                      </div>
    
                      <div class="mt-4 d-flex justify-content-center">
                        <span class="text-muted"
                          >Remembered your password? Go back to Sign In.</span
                        >
                      </div>
                      <div class="d-flex justify-content-center">
                        <a
                          class="text-decoration-none"
                          [routerLink]="['/auth/login']"
                          >Sign In here</a
                        >
                      </div>
                  }
                  @else {
                    <h5 class="fw-normal mb-2 pb-2" style="letter-spacing: 1px">
                        Email Sent
                      </h5>
                      <p class="fs-6">
                        Check your mail box, Email has been sent successfully.
                      </p>
    
                      <div class="mt-4 d-flex justify-content-center">
                        <span class="text-muted"
                          ></span
                        >
                      </div>
                  }
                 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
